@import url('https://fonts.googleapis.com/css?family=Poppins+Open+Sans&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#particles-js {
    width: 100%;
    height:100vh;
    
    background: linear-gradient(rgb(75, 71, 116), rgb(14, 9, 35));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url("profilepic.jpg");

}
.page2{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(210, 208, 225), rgb(36, 30, 58));
}

h2 {
    position:absolute;
    top: 50%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: azure;
    font-weight: 600;
}

h2 p {
    font-size: 20px;
    font-weight: 300;
    
}

h2 button {
    opacity: 1;
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(43, 39, 39);
    font-size: 30px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    color: #fffefe;

    background: rgb(105, 81, 133);
}

h3{
    position: absolute;
        top: 0%;
        left: 5%;
        bottom: 5%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: rgb(51, 69, 69);
        font-weight: 600;
}
img {
    margin: 0 10px;
    
            max-width: 50%;
            max-height: 50%;
        
}


.footer {
    position: fixed;
    width: 100%;

    background-color: #859fa3;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-size: 15px;
    bottom: 0;

}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

@media(max-width:700px) {
    h2 {
        position: absolute;
        top: 40%;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: azure;
        font-weight: 300;
    }

    h2 p {
        font-size: 15px;
    }

    h2 button {
        opacity: 0.9;
        height: 110px;
        width: 190px;
        border-radius: 5px;
        border: none;
        margin: 0 10px;
        border: 2px solid rgb(43, 39, 39);
        font-size: 20px;
        font-weight: 400;
        padding: 0 10px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;
        color: #e2d7d7;

        background: rgb(105, 81, 133);
    }

    h2 #description {
        text-decoration: none;
        display: none;
    }

}